@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

/* モバイルファーストで書いてみます */

/* ------------
全体
------------ */

html {
  font-size:62.5%;
  box-sizing: border-box;
}

:root {
  --blue: #0695FF;
  --red: #B20D30;
  --water: #BEE7E8;
  --yellow: #DACC3E;
}

body {
  font-size: 1.5rem;
  margin:0;
  -webkit-text-size-adjust: 100%;
  font-family: acme-gothic, vdl-logona,sans-serif;
  line-height: 3rem;
}

.container_all {
  width: 100%;
  background: #fff;
  overflow:hidden;
  color: #333;
  /* font-family: 'Yomogi', cursive; */
}

.section {
  margin-bottom: 60px;
}



img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

img {
  vertical-align:bottom;
}

.content-title {
  margin-bottom: 15px;
  font-size: 3.0rem;
}

.image h3 {
  font-size: 2.4rem;
}

.image p {
  font-size: 1.5rem;
}

.container {
  padding: 0 15px;
}

/* --------
slick
--------*/
.slick-prev, .slick-next {
  z-index: 1;
  display: none;
}
.slick-prev:before, .slick-next:before {
  color: #fff;
}
.slick-slide {
  transition: all linear 3s;
  opacity: 1;
}
.slick-active {
  opacity: 1;
}
.slick-current {
  opacity: 1;
}
.thumb {
  margin: 20px 0 0;
}
.thumb .slick-slide {
  cursor: pointer;
}
.thumb .slick-slide:hover {
  opacity: .7;
}

.slick-arrow {
  display: none;
}




/* --------
上へボタン
--------*/
#page-top {
  position: fixed;
  display: inline-block;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  line-height: 1;
  z-index: 99;
  /* background: var(--blue); */
  opacity: 0.7;
}

#page-top a {
  width: 25px;
  height: 25px;
  display: block;
  border-radius: 5%;
  border: solid 7px var(--water);
  border-right: 0;
  border-bottom: 0;
  position: relative;
  transform: rotate(45deg);
}

#page-top a:after {
  position: absolute;
  top: -15px;
  left: -15px;
  content: '';
  width: 37px;
  height: 37px;
  display: block;
  border: solid 4px var(--water);
  border-right: 0;
  border-bottom: 0;
}

#page-top a:hover {
  text-decoration: none;
  opacity: .5;
}





/*--------
ハンバーガーボタン
------ */
.menu-btn {
  position: fixed;
  top: 1vh;
  right: 1vh;
  display: flex;
  height: 5vh;
  width: 5vh;
  justify-content: center;
  align-items: center;
  z-index: 130;
  background-color: transparent;
  border-radius: 3px;
  cursor:pointer;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 23px;
  border-radius: 3px;
  background-color: var(--blue);
  position: absolute;
  transition: all 300ms 0s ease;
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
bottom: 0;
transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
top: 0;
transform: rotate(-45deg);
}

#menu-btn-check {
display: none;
}


/*--------
SNSボタン
------ */

.sns-btn {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  /* margin-bottom: 60px; */
}

.sns-btn div {
  margin-right: 20px;
}



/*--------
in-view
------ */
.fadeIn {
  opacity : 0;
  transform: scale(1.2) translate(70%, -10%) skew(-10deg, 30deg);
  box-shadow: -30px 30px;
  transition : all .6s;
  /* transform: translate(0, 20%);
  transition: 0.4s ease; */
}
.fadeIn.is-show {
  opacity : 1;
  box-shadow: 0px 0px;
  transform: scale(1.0) translateX(0%) skew(0deg, 0deg);
  /* transform: translate(0, 0); */
}


/*--------
header
------ */

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  background: #fff;
  width: 100%;
  z-index: 500;
  height: 7%;
}


.header .site-title {
  position: relative;
  left: 20px;
  top: 3.5vh;
  transform: translateY(-50%);
  width: 30%;
}

.header .site-title a {
  line-height: 0;
}

.header .site-title img {
  width: 100%;
  vertical-align: middle;
}

.header .main-menu {
  display: none;
}

.header .to-contact {
  display: none;
}

/*--------
main
------ */

.modal {
  display: none;
  color: #000;
  background: rgba(255,255, 255, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 7vh;
  z-index: 400;
  font-size: 3rem;
}

.mainvisual {
  margin-top: 7vh;
  height: 93vh;
  height: auto;
}

.modal-menu {
  margin: 30px;
}

.mv_container{
  height: 100%;
}

.mv_container .image img{
  min-height: 93vh;
  height: auto;
  object-fit: cover;
}

.slide_overlay {
  position: absolute;
  height: 93vh;
  top: 7vh;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
}


.copy_apps {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
}

.copy {
  font-size: 2.7rem;
  color: #fff;
  margin-bottom: 20px;
  opacity: .9;
  font-weight: 100;
  font-style: normal;
  line-height: 6rem;
}

.copy h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.copy span {
  font-family: milonguita, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 0;
  font-size: 7rem;
}

.copy_pc {
  display: none;
}

.service_name {
  width: 300px;
}

.apps {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
}

.apps .app_store {
  width: 120px;
  margin-right: 20px;
}

.apps .google_play {
  width: 150px;
}

.take_it_easy_images {
  background: #fff;
}

.take_it_easy_images_container .take_it_easy {
  margin-bottom: 10px;
}

.take_it_easy_images_container .image{
  margin-bottom: 20px;
}



.take_it_easy_images_container .image h3 {
  margin-top: 10px;
}




.how_to_use_images {
  background:var(--blue);
  padding: 30px 0 30px;
  color: #fff
}

.how_to_use {
  margin-bottom: 15px;
  
  /* padding-top: 30px; */
}

.how_to_use_images_container .image{
  margin-bottom: 20px;
}

.how_to_use_images_container .image h3 {
  margin-top: 10px;
}

/* .how_to_use_images .image:last-child {
  margin-bottom: 0;
} */

.how_much {
  padding: 0;
}

.how_much_container .plan {
  color: #333;
  background: #eee;
  margin-bottom: 10px;
  padding: 10px;
  line-height: 4rem;
}

.how_much_container .plan:last-child {
  color: #fff;
  background: var(--blue);
}



.how_much_container .plan h4 {
  font-size: 3.2rem;
}

.how_much_container .plan h4 span {
  font-size: 1.6rem;
}

.how_much_container .plan p {
  line-height: 2rem;
}

.how_much_container .plan:last-child .more{
  border: solid 1px #fff;
  background: #fff;
}

.how_much_container .plan a {
  color: #fff;
}

.how_much_container .plan:last-child a{
  color: var(--blue);
} 

.how_much_container .more {
  border: solid 1px #333;
  border-radius: 2px; 
  display: inline-block;
  padding: 5px 10px 3px; 
  margin-top: 10px;
  background: #333;
  line-height: 2rem;
}

.download_image .apps {
  margin-bottom: 15px;
}

.download_image .download p{
  margin-bottom: 15px;
}

.download_image .image {
  width: 200px;
  margin: 0 auto;
}

.contact_forms {
  margin-bottom: 60px;
}
.contact_forms p{
  margin-bottom: 15px;
}

.contact_forms .part {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
} 

.contact_forms label {
  display: block;
  width: 100%;
}
.contact_forms input {
  display: block;
  width: 100%;
  background: #eee;
}

.contact_forms textarea {
  width: 100%;
  background: #eee;
  margin-bottom: 15px;
}

.submit-btn input{
  background: var(--blue);
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}
/*--------
footer
------ */
#footer {
  padding: 30px 0;
  background: var(--blue);
  color: #fff;
}

#footer .footer_container{
  display: flex;
} 

#footer .info {
  margin-right: 20px;
}

#footer span {
  display: block;
}

#footer .sns{
  display: flex;
}

#footer .sns img {
  width: 50px;
}

#footer .sns span {
  margin-right: 10px;
}



/*--------
footer
------ */


/*--------
footer
------ */




@media (min-width: 768px) {

  /*--------
  copy
  ------ */

.mainvisual,
.mv_container,
.mv_container .image img,
.slide_overlay {
  min-height: calc(1024px - 7vh);
  height: 93vh;
}

.how_much_container .plans {
  display: flex;
  justify-content: space-between;
}

.how_much_container .plan {
  width: 30%;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.how_much_container .plan h4 {
  justify-self: flex-start;
}

.how_much_container .plan .more {
  width: 40%;
  padding: 10px 10px 8px;
}



/* img1,2,3 */
.img2 {
  margin-top: 60px;
}

.img3 {
  margin-top: 120px;
}



.fadein1,
.fadein2
{
  opacity : 0;
  transform: scale(1.2) translate(70%, -10%) skew(-10deg, 30deg);
  box-shadow: -30px 30px;
  transition : all .6s;
}
  
.fadein1.active,
.fadein2.active{
  opacity : 1;
  box-shadow: 0px 0px;
  transform: scale(1.0) translateX(0%) skew(0deg, 0deg);
}


  .header {
    align-items: center;
  }

  .header .site-title {
    margin-right: 20px;
    width: 20%;

  }

  .header .site-title img {
    width: 100%;
  }

  .header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header_container .main-menu {
    display: none;
  }

  .header .main-menu li {
    margin-right: 2vw;
    padding: 8px 20px 5px;
  }

  .header .main-menu li a {
    color: var(--blue);
  }

  .header .main-menu li:last-child {
    background: var(--blue);
    border-radius: 3px;
  }

  .header .main-menu li:last-child a {
    color: #fff;
  }
  /*--------
  main
  ------ */
  .copy_apps_container {
    display: flex;

  }

  .copy_apps {
    top: 55%;
  }
  
  .copy {
    font-size: 4.6rem;
    line-height: 10rem;
  }


  
  .copy h3 {
    font-size: 3rem;
    line-height: 6rem;
  }
  
  .copy span {
    font-size: 12.5rem;
  }

  .take_it_easy_images_container{
    /* display: flex; */
    align-items: top;
  }

  .take_it_easy_images .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .take_it_easy_images .image {
    width: 30%;
  }


  .how_to_use_images_container{
    /* display: flex; */
    align-items: top;
  }

  .how_to_use_images .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .how_to_use_images .image {
    width: 30%;
  }

  .download_image_container{
    display: flex;
    align-items: center;
  }

  .contact_forms .part label{
    width: 20%;
  }

  .contact_forms .part input {
    width: 80%;
  }

  .contact_forms .part textarea {
    width: 80%;
  }

  /*--------
  footer
  ------ */



  
}

@media (min-width: 1025px) {

  .container {
    width: 1020px;
    margin: 0 auto;
  }

  .header {
    height: 70px;
  }

  .header_container {
    height: 70px;
    align-items: center;
  }

  .header_container .site-title {
    width: 15%;
  }

  .header .site-title {
    position: static;
    margin-left: 20px;
    transform: translateY(0%);
  }

  .header_container .menu-btn {
    display: none;
  }

  .header_container .main-menu {
    display: flex;
    font-size: min(2vw, 3rem);
  }

  .mainvisual {
    margin-top: 70px;
    height: calc(100vh - 70px);
  }
  
  .modal-menu {
    margin: 30px;
  }
  
  .mv_container{
    height: 100%;
  }

  .mv_container .image {
    height: calc(100vh - 70px);
  }
  
  .mv_container .image img{
    height: calc(100vh - 70px);
    object-fit: cover;
  }
  
  .slide_overlay {
    position: absolute;
    height: calc(100vh - 70px);
    top: 70px;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
  }

  .mainvisual,
.mv_container,
.mv_container .image img,
.slide_overlay {
  min-height: auto;
}


  .copy_pc {
    display: block;
  }

  .copy_sp {
    display: none;
  }


  .apps {
    justify-content: start;
  }

}

